/* General */

@font-face {
  font-family: vazir;
  src: url(../fonts/Vazirmatn-VariableFont_wght.ttf);
}

:root {
  --purple: #270257;
  --yellow: #feb100;
  --black: #000000;
  --white: #ffffff;
  --nav-button: rgba(255, 255, 255, 0.05);
  --nav-hover: rgba(255, 255, 255, 0.01);
}

html {
  font-size: 62.5%;
}

body {
  font-family: vazir, Arial, Helvetica, sans-serif;
}

.button {
  border-radius: 2rem;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.header .button {
  margin-bottom: 2rem;
}

.button-yellow {
  background-color: var(--yellow);
  color: var(--purple);
}

.button-purple {
  background-color: var(--purple);
  color: var(--yellow);
}

.button-yellow:hover,
.button-purple:hover {
  background-color: var(--white);
}

.purple {
  color: var(--purple);
}

.yellow {
  color: var(--yellow);
}

h1,
h2 {
  font-size: 4rem;
  margin: 0;
}

p {
  font-size: 1.5rem;
}

/* Header */

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  background: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.nav-item {
  text-decoration: none;
  color: var(--white);
  background-color: var(--nav-button);
  margin: 0.5rem;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: 0.2s ease-in-out;
}

.nav-item:hover {
  background-color: var(--nav-hover);
  transform: translateY(0.2rem);
}

.logo {
  width: 30rem;
}

@media only screen and (max-width: 600px) {
  .header {
    background: url(../images/banner-mobile.png);
    background-size: cover;
  }

  .navbar {
    flex-direction: column;
  }
  .nav-item {
    width: max-content;
  }
  .logo {
    width: 20rem;
  }
}

/* menu */

.menu {
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.menu h1 {
  padding: 2rem;
  color: var(--white);
}

.menu-items {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: space-evenly;
  align-content: space-between;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin: 3rem 0;
}

.menu-item:hover {
  transform: scale(1.02);
}

.menu-item-text {
  background-color: var(--white);
  color: var(--purple);
  text-align: center;
  border-radius: 0 0 2rem 2rem;
  padding: 1rem;
  box-sizing: border-box;
}

.menu-item-image {
  border-radius: 2rem 2rem 0 0;
  margin-bottom: -5rem;
}

@media only screen and (max-width: 992px) {
  .menu-items {
    grid-template-columns: 40% 40%;
  }
}
@media only screen and (max-width: 600px) {
  .menu-items {
    grid-template-columns: 90%;
  }
}

/* comments */

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.comments h2 {
  color: var(--yellow);
  text-align: center;
  padding: 2rem;
}

.comment-items {
  width: 100%;
  display: grid;
  grid-template-columns: 15% 15% 15%;
  justify-content: space-evenly;
  align-content: space-between;
}

.comment-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem 0;
}

.comment-item-image {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.comment-item-text h3 {
  text-align: center;
  font-size: 2rem;
  color: var(--purple);
}

.comment-item-text p {
  text-align: justify;
  font-style: italic;
  border-left: 0.3rem solid var(--yellow);
  padding-left: 2rem;
}

@media only screen and (max-width: 992px) {
  .comment-items {
    grid-template-columns: 30% 30%;
  }
}
@media only screen and (max-width: 600px) {
  .comment-items {
    grid-template-columns: 50%;
  }
}

/* about-us */

.about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--purple);
  color: var(--white);
  padding: 5rem 0;
}

.about-us-image {
  width: 40%;
  border-radius: 5rem;
}

.about-us-text {
  width: 40%;
  text-align: center;
}

.about-us-text p {
  text-align: justify;
  font-size: 2rem;
}

@media only screen and (max-width: 992px) {
  .about-us {
    flex-direction: column;
    padding: 2rem 0;
  }
  .about-us-image,
  .about-us-text {
    width: 90%;
  }
}

/* Footer */

.footer {
  color: var(--purple);
  background-color: var(--yellow);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 0;
}

.footer h2 {
  font-size: 2rem;
}

.contact-us,
.form {
  width: 40%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 2rem;
  border-radius: 1rem;
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
  .contact-us,
  .form {
    width: 80%;
  }
  .contact-us {
    margin-bottom: 2rem;
  }
}
